*{
    
}

.header{
    height: 70px;
    width: 1000px;
    background-color: rgb(94, 94, 222);
    border-radius: 13px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.header-row{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(205, 169, 169);
    line-height: 9px;
    margin-left: 1%;
}
.row-left{
    width: 170px;
}
.row-right{
    width: 260px;
    margin-left: 55%;
}

.list-style{
    display: flex;
    line-height: 17px;
    padding-left: 21px;
    justify-content: space-between;
    width: 220px;
    
}
.list-style a{
    text-decoration: none;
}
.flex-container-wrapper{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 380px;
}
.content{
    height: 360px;
    width: 700px;
    border-radius: 13px;
    margin-top: 2%;
    background-color: rgb(182, 108, 108);
}
.sidebar{
    height: 360px;
    width: 280px;
    border-radius: 13px;
    margin-top: 2%;
    background-color:rgb(150, 98, 198);
}
.box{
    height: 350px;
    width: 1000px;
    border-radius: 13px;
    margin-top: 2%;
    background-color: rgb(182, 108, 108);
}
body{
    background-image: linear-gradient(125deg, rgb(170, 87, 87), rgb(103, 103, 197));
}
.footer{

}